<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#aperture"/>
            </svg>
            Aperture
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">Кнопка</button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#aperture"/>
                        </svg>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'categories:product_store'%}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'categories:product_form'%}">Создание продукта</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'blog_store:blogpost_form'%}">Добавить Блог</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'blog_store:blogpost_list'%}">Блоги</a></li>
                    <li class="nav-item">{% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
    {% else %}
                        <a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:register'%}">Регистрация</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#cart"/>
                        </svg>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>