{% extends 'base.html' %}
{% block content %}
{% load tags_tags %}
<div class="row"> {% for prod in product %}
    <div class="col-md-6">
        <div class="card shadow-sm">

            <img src="{{prod.image_product | media_filter}}" class="card-image">

            <div class="card-body"><p class="card-text">{{prod.name}}</p>
                <p class="card-text">{{prod.description|truncatechars:100}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'categories:product_detail' prod.id %}'">О товаре</button>
                    </div>
                    <small class="text-body-secondary">Цена-{{prod.price_per_purchase}}</small></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div> {% endblock %}