{% extends "categories/base.html" %}

{% block content %}
    <h1>Сброс пароля</h1>
    <form method="post">
        {% csrf_token %}
        <label for="email">Введите ваш адрес электронной почты:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Отправить</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}