{% extends 'categories/base.html' %}
{% block content %}
{% load tags_tags %}
<div class="row">
    {% for prod in object_list %}
    <div class="col-md-6">
        <div class="card shadow-sm">
            <img src="{{ prod.image_product | media_filter }}" class="card-image">
            <div class="card-body">
                <p class="card-text">{{ prod.name }}</p>
                <p class="card-text">{{ prod.description|truncatechars:100 }} | Автор продукта: {% if prod.author %}{{ prod.author }}{% else %}Неизвестен{% endif %}</p>

                <h5>Версии продукта:</h5>
                <ul>
                    {% for version in prod.versions.all %}
                        <li>
    <strong>Номер версии - {{ version.name_version }}</strong> Название версии - {{ version.number_version }}) -
    {% if version.is_current_version %}Активна{% else %}Неактивна{% endif %}
</li>
                    {% empty %}
                        <li>Нет доступных версий.</li>
                    {% endfor %}
                </ul>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'categories:update_forms' prod.id %}" class="btn btn-success me-2">Редактировать</a>
                        <a type="button" class="btn btn-primary" onclick="window.location.href='{% url 'categories:product_detail' prod.id %}'">О товаре</a>
                    </div>
                    <small class="text-body-secondary">Цена: {{ prod.price_per_purchase }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}